body{
    background-color:#702d53 ;
}
.para{
    color: #702d53 ;
}
.texte{
    color: #ffffff;
}
.back{

    background-color: #fff;
    border-radius: 5px;
}
.bouton{
    background-color: #702d53;
    border: 2px solid #702d53;
}
.lien{
    text-decoration: none;
    color: #702d53;
}
/* Formulaire de connexion */
#form-connexion {
    background-color: #ffffff;
    border-radius: 10px;
}
/* Champ du formulaire de connexion*/
#form-connexion input {
    font-size: medium;
    color: #702d53;
    border: 2px solid #702d53;
    opacity: 90%;
    border-radius :30px;
}
/* bouton du formulaire de connexion */
#form-connexion button {
    font-size: medium;
    background-color: #ffffff;
    border: 2px solid #702d53;
    color: #702d53;
    opacity: 90%;
    border-radius :30px;
}
/* bouton du formulaire de connexion au survol*/
#form-connexion button:hover {
    border: 2px solid #702d53;
    background-color: #702d53;
    color: #ffffff;
    opacity: 90%;
}
/* Checkbox pour choisir le type de compte */
#checkbox-compte {
    font-size: small;
}
/* Paragraphe contenant le lien creer contact du formulaire de connexion */
#form-connexion p a {
    
    color:#702d53;
}
/* Classe pour les boutons arrondie */
.btn-arrondi {
    border: 2px solid #ffffff;
    background-color: #702d53;
    color: #ffffff;
    opacity: 90%;
    border-radius :30px;
    font-size: medium;
    text-align: center;        
}
/* Classe pour les boutons arrondie au survol*/
.btn-arrondi:hover {
    font-size: medium;
    background-color: #ffffff;
    border: 2px solid #702d53;
    color: #702d53;
    opacity: 90%;
    border-radius :30px;
    font-size: medium;
    text-align: center;  
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* Style pour les blocs des publications des utilisateurs et fournisseurs*/
.publication {
    background-color: red;
    width: 700px;
    height: 400px;
    border-radius: 49px;
    background: #f6f5f4;
    box-shadow:  4px 4px 6px #272727;
    padding: 10px;
    text-align: center;
}
/* Div qui vas contenir les informations sur la publication */
.bloc-infos-publication {
    display: flex;
    gap: 1Opx;
}
/* Photo de l’auteur de l publication */
.bloc-infos-publication img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 174px;
    background: #f6f5f4;
    box-shadow:  2px 2px 12px #a2a2a1,
             -2px -2px 8px #a2a2a1;
    margin-left: 20px;
    margin-top: 15px;
}
/* Photo de l’auteur de l publication */
.bloc-infos-publication img:hover {
    border: 2px solid #702d53;
}
/* Nom de l’auteur */
.bloc-infos-publication h6 {
    position: absolute;
    margin-top: 32px;
    margin-left: 90px;
    text-align: left;
    font-size: 15px;
    color: #702d53;
}
/* Nom de l’auteur au survol*/
.bloc-infos-publication h6:hover {
    font-size: 16px;
}
/* Icone pour les options */
.bloc-infos-publication i {
    position: absolute;
    margin-top: 30px;
    margin-left: 640px;
    color: #702d53;
    font-size: medium;
}
/* Icone pour les options au survol */
.bloc-infos-publication i:hover {
    border: 2px solid #702d53;
    border-radius: 5px;
}
/* Bloc pour le contenu de la publication */
.bloc-contenu-publication {
    position: relative;
}
.bloc-contenu-publication p {
    position: relative;
    margin-top: 80px;
    text-align: left;
    width: 660px;
    margin-left: 20px;
}

/* Image de publication */
.bloc-contenu-publication img {
    position: relative;
    margin-top: 20px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin-top: -10px;
}
/* Image de publication au survol*/
.bloc-contenu-publication img:hover {
    width: 252px;
    height: 202px;
}
/* Bloc pour les actions sur la publication */
.bloc-action-pub {
    position: absolute;
    display: flex;
    gap: 25px;
    margin-left: 500px;
}
/* Les icones des actions  */
.bloc-action-pub i {
    font-size: 20px;
    font-weight: bolder;
    color: #702d53;
}
/* Icones des actions au click  */
.bloc-action-pub i:hover {
    color: #ffffff;
    background-color: rgb(243, 40, 40);
    border-radius: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

/* Media query pour ajouter plus de syle a la responsivité */
@media only screen and (max-width: 600px){
    .pub{
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }
    .espace{
        margin-bottom: 10px;
    }
    /* Formulaire de connexion */
    #form-connexion {
        background-color: #ffffff;
        border-radius: 10px;
        font-size: small;
    }
    /* Champs du formulaire de connexion */
    #form-connexion input {
        color: #702d53;
        font-size: x-small;
        border-radius: 30px;
        border: 2px solid #702d53;
    }
    /* bouton du formulaire de connexion */
    #form-connexion button {
        font-size: x-small;
        border-radius: 30px;
    }
    /* Paragraphe contenant le lien creer contact du formulaire de connexion */
    #form-connexion p a {
        font-size: x-small;
        color:#702d53;
    }
    /* bouton du formulaire de connexion au survol*/
    #form-connexion button:hover {
        border: 2px solid #702d53;
        background-color: #702d53;
        color: #ffffff;
        opacity: 90%;
    }
    /* Checkbox pour choisir le type de compte */
    #checkbox-compte {
        font-size: x-small;
    }
    /* Classe pour les boutons arrondie */
    .btn-arrondi {
        border: 2px solid #ffffff;
        background-color: #702d53;
        color: #ffffff;
        opacity: 90%;
        border-radius :30px;
        height: 50px;
        font-size: x-small;
        text-align: center;        
    }
    /* Classe pour les boutons arrondie au survol*/
    .btn-arrondi:hover {
        font-size: medium;
        background-color: #ffffff;
        border: 2px solid #702d53;
        color: #702d53;
        opacity: 90%;
        border-radius :30px;
        height: 50px;
        font-size: x-small;
        text-align: center;  
    }
    /* Bloc pour le choix du type de compte par l’utilisateur */
    #bloc-choix-typecompte {
        position: relative;
        margin-right: 20px;
    }

    /* -------------------------------------------------------------------------------------------------------------------------- */
    /* Style pour les blocs des publications des utilisateurs et fournisseurs*/
    .publication {
        background-color: red;
        width: 500px;
        height: 400px;
        border-radius: 49px;
        background: #f6f5f4;
        box-shadow:  4px 4px 6px #272727;
        padding: 10px;
        text-align: center;
        margin-left: 30px;
    }
    /* Div qui vas contenir les informations sur la publication */
    .bloc-infos-publication {
        display: flex;
        gap: 1Opx;
    }
    /* Photo de l’auteur de l publication */
    .bloc-infos-publication img{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 174px;
        background: #f6f5f4;
        box-shadow:  2px 2px 10px #a2a2a1,
                -2px -2px 6px #a2a2a1;
        margin-left: 20px;
        margin-top: 15px;
    }
    /* Photo de l’auteur de l publication */
    .bloc-infos-publication img:hover {
        border: 2px solid #702d53;
    }
    /* Nom de l’auteur */
    .bloc-infos-publication h6 {
        position: absolute;
        margin-top: 25px;
        margin-left: 80px;
        text-align: left;
        font-size: 15px;
        color: #702d53;
    }
    /* Nom de l’auteur au survol*/
    .bloc-infos-publication h6:hover {
        font-size: 16px;
    }
    /* Icone pour les options */
    .bloc-infos-publication i {
        position: absolute;
        margin-top: 22px;
        margin-left: 440px;
        color: #702d53;
        font-size: medium;
    }
    /* Icone pour les options au survol */
    .bloc-infos-publication i:hover {
        border: 2px solid #702d53;
        border-radius: 5px;
    }
    /* Bloc pour le contenu de la publication */
    .bloc-contenu-publication {
        position: relative;
    }
    .bloc-contenu-publication p {
        position: relative;
        margin-top: 70px;
        text-align: left;
        width: 450px;
        margin-left: 20px;
        font-size: small;
    }

    /* Image de publication */
    .bloc-contenu-publication img {
        position: relative;
        margin-top: 20px;
        width: 250px;
        height: 200px;
        border-radius: 10px;
        margin-top: -10px;
    }
    /* Image de publication au survol*/
    .bloc-contenu-publication img:hover {
        width: 252px;
        height: 202px;
    }
    /* Bloc pour les actions sur la publication */
    .bloc-action-pub {
        position: absolute;
        display: flex;
        gap: 25px;
        margin-left: 310px;
        margin-top: 8px;
    }
    /* Les icones des actions  */
    .bloc-action-pub i {
        font-size: 15px;
        font-weight: bolder;
        color: #702d53;
    }
    /* Icones des actions au click  */
    .bloc-action-pub i:hover {
        color: #ffffff;
        background-color: rgb(243, 40, 40);
        border-radius: 5px;
    }

    /* ---------------------------------------------------------------------------------------------------------------------- */
}

/* Media query pour ajouter plus de syle a la responsivité */
@media only screen and (max-width: 400px) {
    /* -------------------------------------------------------------------------------------------------------------------------- */
    /* Style pour les blocs des publications des utilisateurs et fournisseurs*/
    .publication {
        background-color: red;
        width: 380px;
        height: 380px;
        border-radius: 39px;
        background: #f6f5f4;
        box-shadow:  2px 2px 6px #272727;
        padding: 10px;
        text-align: center;
        margin-left: -5px;
    }
    /* Div qui vas contenir les informations sur la publication */
    .bloc-infos-publication {
        display: flex;
        gap: 1Opx;
    }
    /* Photo de l’auteur de l publication */
    .bloc-infos-publication img{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 174px;
        background: #f6f5f4;
        box-shadow:  2px 2px 8px #a2a2a1,
                -2px -2px 4px #a2a2a1;
        margin-left: 10px;
        margin-top: 10px;
    }
    /* Photo de l’auteur de l publication */
    .bloc-infos-publication img:hover {
        border: 2px solid #702d53;
    }
    /* Nom de l’auteur */
    .bloc-infos-publication h6 {
        position: absolute;
        margin-top: 22px;
        margin-left: 60px;
        text-align: left;
        font-size: 12px;
        color: #702d53;
    }
    /* Nom de l’auteur au survol*/
    .bloc-infos-publication h6:hover {
        font-size: 13px;
    }
    /* Icone pour les options */
    .bloc-infos-publication i {
        position: absolute;
        margin-top: 18px;
        margin-left: 340px;
        color: #702d53;
        font-size: medium;
    }
    /* Icone pour les options au survol */
    .bloc-infos-publication i:hover {
        border: 2px solid #702d53;
        border-radius: 5px;
    }
    /* Bloc pour le contenu de la publication */
    .bloc-contenu-publication {
        position: relative;
    }
    .bloc-contenu-publication p {
        position: relative;
        margin-top: 70px;
        text-align: left;
        width: 350px;
        margin-left: 20px;
        font-size: x-small;
    }

    /* Image de publication */
    .bloc-contenu-publication img {
        position: relative;
        margin-top: 20px;
        width: 252px;
        height: 202px;
        border-radius: 10px;
        margin-top: -10px;
    }
    /* Image de publication au survol*/
    /* .bloc-contenu-publication img:hover {
        width: 254px;
        height: 204px;
    } */

    /* Bloc pour les actions sur la publication */
    .bloc-action-pub {
        position: absolute;
        display: flex;
        gap: 25px;
        margin-left: 220px;
        margin-top: 8px;
    }
    /* Les icones des actions  */
    .bloc-action-pub i {
        font-size: 12px;
        font-weight: bolder;
        color: #702d53;
    }
    /* Icones des actions au click  */
    .bloc-action-pub i:hover {
        color: #ffffff;
        background-color: rgb(243, 40, 40);
        border-radius: 5px;
    }

    /* ---------------------------------------------------------------------------------------------------------------------- */
}
